.navigation-item:nth-child(3) .nav-submenu-wrap.active{
  & .nav-submenu-container.active{
    & .submenu-item {
      margin-bottom: 10%;
    }
  }
  @extend %navcontent;
  left: 0;
  background: $black;
  & .submenu-item {
    margin-bottom: 24%;
    margin-left: 12%;
  }
  & .submenu-list {
    padding: 5% 0;
  }
  & .submenu-list .submenu-item a {
    color: $white;
  }
  & .nav-submenu-container .menu-close-btn {
    &:before, &:after {
      background: $white;
    }
  }
}

.navigation-item:nth-child(3) .nav-layer.active {
  @extend %nav-layer;
}
