.navigation-item:nth-child(5) .nav-submenu-wrap.active{
  @extend %navcontent;
  right: 0;
  & .nav-submenu-container .submenu-list {
    @include flexbox($dir: column)
    & .submenu-item {
      margin: 5% 0;
      padding: 1rem;
      border: none;
      border-bottom: 1px solid black;
      box-shadow: none;
      background: #eee;
      &::placeholder {
        color: #222;
        font-family: 'work-sans', serif;
      }
    }
  }
}

.interestIn {
  @include flexbox ($dir: row, $just: space-between);
  & .submenu-item {
    width: 100%
  }
  & select {
    border: none;
    background-color: #eee;
    font-family: 'work-sans', sans-serif;
    font-size: 14px;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 100%;
    width: 92%;
    @media (min-width: 1000px) {
      width: 50%;
    }
  }
}

.submit {
  width: 25%;
  padding: 0.5rem;
  margin: 5% 0%;
  background: none;
  border: none;
  text-align: left;
}

.navigation-item:nth-child(5) .nav-layer.active {
  @extend %nav-layer;
}
