.swiper-section.one {
  margin-top: 10vh;
  position: relative;
  @include flexbox($dir: column);
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 10vh;
  & .swiper-container {
      height: 90vh;
      width: 100vw;
    & .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      @include flexbox($just: center, $align-items: center);
      & .ccimage {
        width: 100%;
        height: 100%;
        & .img {
          height: 100%;
          width: 100%;
        }
      }
      & .img-wrap-1 .img {
        background: url('../src/assets/imgs/ccliving.jpg') no-repeat;
        background-size: cover;
        background-position: center;

      }
      & .img-wrap-2 .img {
        background: url('../src/assets/imgs/cckitchen.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
      & .img-wrap-3 .img {
        background: url('../src/assets/imgs/ccbr.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
      & .img-wrap-4 .img {
        background: url('../src/assets/imgs/ccbedroom.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
  & .swiper-caption {
    position: absolute;
    bottom: 3%;
    width: 100%;
    @include flexbox($dir: row, $just: space-between);
    & .swiper-caption-wrapper {
      width: 100%;
    }
    & .swiper-caption-container {
        display: none;
      }
    & .swiper-caption-container.active{
      @include flexbox($dir: row);
      width: 100%;
      & .swiper-number {
        padding-left: 5%;
      }
      & .swiper-text {
        margin: 0 auto;
        padding-right: 5%;
        @media(min-width: 768px) {
          padding-right: 0%
        }
      }
    }
    & .swiper-button-prev {
      color: $black;
      left: 79%;
      @media(min-width: 375px){
        left: 84%;
      }
      @media(min-width: 768px){
        left: 90%;
      }
    }
    & .swiper-button-next {
      color: $black;
      right: 5%;
    }
    & .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
      font-size: 14px;
    }
    & .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      font-size: 14px;
    }
  }
}
